@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);

.nav{
    display: flex;
    height: 80px;
    padding: 30px;
    /* background-color: white;
    position: fixed; */
}
.nav-options{
    display: flex;
    height: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    
}
li{
    margin: 0 30px 0 30px;
}
.nav-list{
    color: #575757;
    font-size: 18px;
    font-weight: 500;
}
.sign-up-btn{
    background-color: #75C392;
    width: 100px;
    height: 35px;
    border-radius: 12px;
    border: none;
    color: white;
    font-family: 'Montserrat';
}
.sign-up-btn:hover{
    cursor: pointer;
}
.login-btn-nav{
    background-color: white;
    border: 3px #A55EEA solid;
    color: #A55EEA;
    width: 100px;
    height: 35px;
    border-radius: 12px;
    font-family: 'Montserrat';
}
.login-btn-nav:hover{
    cursor: pointer;
}
ul li a:hover{
    text-decoration-color: #75C392;
    color: #A55EEA;
}
