.ticket-area{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 50px 0;
}
.qty{
    font-size: 20px;
    font-weight: 700;
    margin: auto;
}
.add-sub{
    border: none;
    background: transparent;
    color: #6D51BB;
}
.add-sub:hover{
    cursor: pointer;
}
.counter{
    border: 1px #DBE2EA solid;
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 160px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px #2C273814;
    margin: 20px 0;
    font-weight: 400;
}
.ticket-btn{
    font-weight: 300;
    border-radius: 10px;
}
.ticket-btn:hover{
    cursor: pointer;
}